---
import { EMAIL } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="mb-10 flex items-center justify-between">
  <!-- <nav class="flex items-center justify-between px-6 py-4"> -->
  <span>·</span>
  <!-- <div class="flex-1"></div> -->
  <span>··</span>
  <!-- <a href={`mailto:${EMAIL}`}>email</a> -->
  <!-- </nav> -->
  <!-- <ThemeToggle /> -->
</header>

<style>
  a {
    @apply font-medium text-zinc-500 hover:text-zinc-900 hover:underline dark:hover:text-zinc-100;
  }
</style>
